#Title {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 48px;
    margin-top: 48px;
}

#ChoiceContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    gap: 48px;
}

.choiceBtn {
    width: 150px;
    height: 36px;
    border-radius: 8px;
    font-size: 24px;
    color: white;
    background-color: #369cfb;
    cursor: pointer;
}

.choiceBtn:hover {
    background-color: rgb(103, 180, 252);
}

#ScoreContainer {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 24px;
    height: 100px;
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#PlayerScore, #ComputerScore, #CurrentRound {
    margin: 0 0 0 24px;
}

#PlayerScore, #CurrentRound {
    margin-bottom: 8px;
}

#GameContainer {
    margin-top: 48px;
}